      body{
         background-image: linear-gradient(135deg, rgba(66,133,244,0.4), rgba(219,68,55,0.4), rgba(244,180,0,0.4), rgba(15,157,88,0.4)),
         url('bgc-chrome.webp');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         background-attachment: fixed;
         height: 100vh;
         margin:0px;

      }

       .child a,
       .child a:visited,
       .child a:hover,
       .child a:active {
         text-decoration: none; 
         color: rgb(7, 7, 7);
         font-weight: bold;
         margin: 0 10px;
       }

       .child{
        
        display: flex;
        justify-content: end;
        align-items:center;
        gap: 20px;
        margin-right:10px ;
       }

       .cent-logo{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100vh;

       }

       .search-box{
         transform: translateY(-200%);
         display:flex;
         align-items: center;
         overflow: hidden;
         border-radius: 50px;
         border: 1px solid rgba(255, 255, 255, 0.3);
         width: 350px;
         backdrop-filter: blur(12px);
         background: rgba(255, 255, 255, 0.2);
         border-radius: 50px;
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         
       }

       .search-box input[type="text"]{
         flex:1;
         padding:10px 15px;
         border:none;
         border-radius: 25px 0 0 25px;
         outline :none;
         font:16px;
         background: transparent;
         
       }

       .search-box button{
        border-radius: 25px;
        border:none;
        background:#f8f9fa;
        border-left: 1px solid #ccc ;
        transition: background 0.3s ,color 0.3s;
        padding: 10px 20px;
        cursor: pointer;
        border-right: none;
        border-radius:25px 0 0 25px;
        backdrop-filter: blur(8px);
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
       }

       .search-box button:hover{
         background:#e8e8e8;
       }

       .main{
         transform: translateY(-200%);
         font-family: 'Poppins', sans-serif;
         font-size: 48px;
         color: #4285F4; 
         letter-spacing: -1px;
       }

       .search-box input::placeholder {
         color: rgba(240, 240, 255, 0.8);
       }
